# Python Basics

- Integers, strings, tuples, lists, and dictionaries
- Arithmetic operations and string operations
- Variable assignment

## Variables
You can think of variables as containers to store and hold your data for later use. Variables can hold any data type. You can "declare" a variable the following way:

- number_list = [1,2,3]
- string = "Goodbye"
- stored_dictionary = {"name":"phil"}
- number_var = 23
- tuple_var = ('ice','chips','soda')

Rules:
- A variable name must start with a letter or the underscore character.
- A variable name cannot start with a number.
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

## String Type
"baseball"

- Strings are a collection of characters enclosed in " " or ' '
- Is mutable (can be changed)
- Can be indexed by offset
- Built in functions to determine length, search and format

## List type
["hats","shirts","socks",10,12]
- A list is used to store a collection of data 
- The data can be of any type e.g. strings, numbers, lists, dictionaries
- Brackets wrapping data indicate a list type e.g.
- Is mutable (can be changed)
- Can be indexed by offset
- Built-in functions to count, search, reverse, etc

## Number
- Integer 12, 43, -23
- Float 23.5, 50.23
- Long 187687654564658970978909869576453

## Sequential Data types
- String
- List
- Tuple (immutable type / Cannot be changed)
- Set (immutable type / Cannot be changed)
- Dictionary

# Code Examples
#### Integers and Floats
Integers are numeric values and can be stored, manipulated, and expressed inside variables without quotes.

Here are a few examples!

### Comments
- \# hashes are used to make single line comments in python
- ''' using three quotation marks allows you to make multiline comments'''

#### Whole numbers

In [14]:
# print function renders data
''' printing a whole number to the conosle'''
print(42)

42

#### Negative Numbers

In [15]:
-44

-44

#### Common Mathmatical Operations
You can also perform basic math using integers as well!

#### Subtraction

In [13]:
# We should see 26 as the output
45 - 19

26

#### Multiplication

In [17]:
100 * .40

40.0

#### Exponentiation
$10^8$

In [19]:
10 ** 8

100000000

#### Summation

$\sum_{n=1}^{10} 1+1$

In [24]:
print(1 + 1)
print(sum([1 + 1 for i in range(5)]))

2
10

#### Modulo
_The % symbol in Python is called the Modulo Operator. It returns the remainder of dividing the left hand operand by right hand operand. It's used to get the remainder of a division problem._

In [30]:
print(10 % 2)
print(7 % 3)

0
1

#### Math with and without float precision
_When expecting floating point precision with integers, your results will be rounded up._

In [34]:
print(3 / 10)
print(3.0 / 10)
print(3 * 1.0 / 10)
print(float(3) / 10)

0.3
0.3
0.3
0.3

#### Type checking

_We can always check the type of any Python object using the `type()` function._

In [49]:
print(type(123456789))
print(type(3 * 1.0))
print(type({1,3}))
print(type(set([2,3])))

<class 'int'>
<class 'float'>
<class 'set'>
<class 'set'>

In [40]:
type(3 * 1.0)

float

## Strings

#### Strings
Strings are a basic unit of text in Python but they are are a sequential structure that allows reference of any character within them by numeric offset / index.

In [54]:
print(1 + 1 * 1000 / 235)
print("Words are superior to numbers.")

5.25531914893617
Words are superior to numbers.

In [51]:
# Typing the literal variable "sentence" on the last line in a notebook cell prints the value of that variable.

sentence = "Words are superior to numbers."
sentence

'Words are superior to numbers.'

In [55]:
# iPython Notebook tip
# This is the same as typing:
print("PONZI")
print(sentence)
"WC ROCKS"

PONZI
Words are superior to numbers.

'WC ROCKS'

In [56]:
'\'Never put salt in your eyes\', said the grasshopper'

"'Never put salt in your eyes', said the grasshopper"

In [57]:
"this is a string don't worry \"be happy\" "

'this is a string don\'t worry "be happy" '

The **print** command prints the value assigned to the variable `x` on the screen. 

The **print** statement removes the quotations, whereas just running they jupyter cell with `x` at the last line leaves the quotations in.

You can use 'single' or "double" quotations to create a string variable.

_note:  There are times you want to use a double or single quote._

In [58]:
sentence.upper()

'WORDS ARE SUPERIOR TO NUMBERS.'

In [59]:
type(sentence)

str

In [60]:
"Hut hut hut hut hut hut HIKE".replace("hut", "jabba", 3)

'Hut jabba jabba jabba hut hut HIKE'

In [61]:
sentence.replace("superior", "inferior")

'Words are inferior to numbers.'

_Using the `[tab]` key after a `.` character on a Python object / variable, will display which attributes and functions exist for easy reference within **Jupyter Notebook**._

_Also handy is `[shift]-[tab]` within function braces `()` will reference the documentation for that specific function.  This combination hit once will show you brief details.  `[shift]-[tab]` twice in a row, will show more vebose details and 3x will move the documenation into a frame residing on the lower portion of your notebook._

In [62]:
sentence.upper()

'WORDS ARE SUPERIOR TO NUMBERS.'

In [63]:
# Let's check this out here.
sentence.count("are")

1

In [257]:
my_string = "test"
my_string.replace("t", "Z")

'ZesZ'

#### How print statements can be used

1. Printing a string after an event has occured N number of times
> ```python
> event = "12"
> 
> if event > [some type]:
>     print("It occured 12 times")
> ```
1. Printing a string after an event has occured more than %10 relative to the mean of events that occur in a day.  What type should "some calculation" return / evaluate to?
> ```python
> event_by_day = 100
>
> if event_by_day > (some calculation):
>     print("Looks like we're %10 above the average of our typical occurances")
> ```
1. Printing a string after we've seen an event that says "foo"
> ```python
> event_by_day = "foo" # I pitty the fool!
>
> if event_by_day == [some type]:
>     print ("Yeah it equals foo, good job!")
> ```

## F-strings
- sometimes we want the value of a piece of data to be printed dynmically instead of hard coded

In [5]:
age = 20
user = 'Becky'
if user:
    print('Phil is logged in')
else:
    print('User is not logged in')

Phil is logged in

In [6]:
# This is the preferred syntax
print(f"Hello, My name is {user} and I'm {age} years old.")

Hello, My name is Becky and I'm 20 years old.

In [7]:
if user:
    print('{} is logged in'.format(user))
else:
    print('User is not logged in')

Becky is logged in

In [9]:
if user:
    print('{} is logged in and is {} years old'.format(user,age))
else:
    print('User is not logged in')

Becky is logged in and is 20 years old

## Sequential Types
- Strings
- Lists
- Tuples
- Sets
- Dictionaries

---

All of the above types can be accessed using brackets in the following ways:

- **`x[0]`** References the first elements in a `string`, `list`, `tuple`, `set`, or `dictionary`.
- **`x[0:4]`** References the first **4** elements of a string from index **`0`**.
- **`x[-1]`** Reference the _first_ item in reverse order (or the last item).
- **`x[-2]`** Reference the _second_ item in reverse order.
- **`x[0:-3]`** Reference everyting _execept the last 3_ elements.

In [66]:
sentence[0:-3]

'Words are superior to numbe'

In [67]:
sentence[0]

'W'

In [68]:
sentence[1]

'o'

In [69]:
sentence[2]

'r'

In [70]:
sentence[0:4]

'Word'

### How about `list`, `tuple`, `dict`, and `set`?

Reference by index works the same way for these types

In [71]:
terms = ["coefficient", "residual", "linear", "covariance", "pearson", "r2"]
terms

['coefficient', 'residual', 'linear', 'covariance', 'pearson', 'r2']

In [72]:
type(terms)

list

In [73]:
terms[1]

'residual'

In [74]:
terms[3]

'covariance'

In [75]:
print(terms[1:3], terms[-5: -3], terms[1:3])

['residual', 'linear'] ['residual', 'linear'] ['residual', 'linear']

###  tricks with offset references

In [76]:
terms[-1] # To get the last item by back-reference

'r2'

In [77]:
terms[::-1] # Reverse a sequence

['r2', 'pearson', 'covariance', 'linear', 'residual', 'coefficient']

In [78]:
terms[::-3] # The last 2 items in reverse order (from offset 0, -1 reverses all, -2 reverses all and give first reversed item, etc)

['r2', 'linear']

In [79]:
sentence[0:-12] # Only a section of a string, referenced from the end

'Words are superior'

In [80]:
sentence[0:18] # Same result as previous but using forward reference from index 0

'Words are superior'

In [81]:
sentence[::-1] # All of this works on strings a well because they are a sequential type!

'.srebmun ot roirepus era sdroW'

### Tuple

In [82]:
pokemon = ("Pikachu", "Electric", 25, 150)
pokemon

('Pikachu', 'Electric', 25, 150)

#### We can reference elements within a `tuple` just like any other sequential type in Python

In [83]:
pokemon[0]

'Pikachu'

In [84]:
pokemon[1]

'Electric'

In [85]:
pokemon[-1]

150

In [86]:
pokemon[::-1]

(150, 25, 'Electric', 'Pikachu')

###  `list` vs a `tuple`

In [87]:
# Both Types can hold different types of objects
animals = ["Fish", "Goat", "Baboon", 1337, 1337.42]
minerals = ("Gold", "Zinc", "Copper", 7331, 7331.24)

In [88]:
animals

['Fish', 'Goat', 'Baboon', 1337, 1337.42]

In [89]:
minerals.index("Copper")

2

In [90]:
# Check out the above variables here.  Use a . at the end of each variable name, and hit [tab] to inspect.
# Select the objects in the popup using your arrow keys and [enter]
# After you've selected the object from the list, hit [shift] + [tab] to see the function reference

animals.append("Chicken")

In [91]:
animals.index("Goat")

1

In [92]:
animals[2]

'Baboon'

### Let's examine more closely
The `dis` module disassembles the byte code for a function and is useful to see the difference between tuples and lists.  In order to use it, we have to define our own functions to inspect.  More on functions later.

> #### What is bytecode exactly?
> **Bytecode** is what our human readable Python code is converted to, in order to exectute properly.  These are instructions referenced by numeric codes, constants, and references which are much faster for the CPU to read than reading the source code directly.

In **bytecode**, a list requires each element be broken into it's own step (`LOAD_CONST`), then assembled (`BUILD_LIST`).  A `tuple` on the other hand, only needs one instruction per level of nesting.

In [96]:
from dis import dis

# These functions don't return anything, on purpose
def test_list():
    cars = ["Mustang", "Model 3", "Civic", 1337, 1337.42]

def test_tuple():
    minerals = ("Gold", "Zinc", "Copper", 7331, 7331.24)

In [97]:
dis(test_list)

  5           0 LOAD_CONST               1 ('Mustang')
              2 LOAD_CONST               2 ('Model 3')
              4 LOAD_CONST               3 ('Civic')
              6 LOAD_CONST               4 (1337)
              8 LOAD_CONST               5 (1337.42)
             10 BUILD_LIST               5
             12 STORE_FAST               0 (cars)
             14 LOAD_CONST               0 (None)
             16 RETURN_VALUE

In [98]:
dis(test_tuple)

  8           0 LOAD_CONST               6 (('Gold', 'Zinc', 'Copper', 7331, 7331.24))
              2 STORE_FAST               0 (minerals)
              4 LOAD_CONST               0 (None)
              6 RETURN_VALUE

### Common List Operations

In [101]:
# Adds an element to the end of the list
bands = ["The Beatles", "Tame Impala", "Weather Report", 1337, 1337.42]
bands.append("The Robert Glasper Experience")
bands

['The Beatles',
 'Tame Impala',
 'Weather Report',
 1337,
 1337.42,
 'The Robert Glasper Experience']

In [103]:
# Count function counts number of elements matching the input
bands.count("Tame Impala")

1

### Appending vs Extending

In [104]:
bands = ["The Beatles", "Tame Impala", "Weather Report", 1337, 1337.42]
rappers = ['Dababy','Gucci Mane','Madlib']

In [105]:
bands.extend(rappers)

In [106]:
bands

['The Beatles',
 'Tame Impala',
 'Weather Report',
 1337,
 1337.42,
 'Dababy',
 'Gucci Mane',
 'Madlib']

In [107]:
bands.append(rappers)

In [108]:
bands

['The Beatles',
 'Tame Impala',
 'Weather Report',
 1337,
 1337.42,
 'Dababy',
 'Gucci Mane',
 'Madlib',
 ['Dababy', 'Gucci Mane', 'Madlib']]

### Sorting Lists

In [109]:
animals     = ["Fish", "Goat", "Baboon", 1337, 1337.42]
animals = [str(animal) for animal in animals]
animals

['Fish', 'Goat', 'Baboon', '1337', '1337.42']

In [112]:
animals.sort(reverse= True) # Default is reverse=False
animals

['Goat', 'Fish', 'Baboon', '1337.42', '1337']

In [113]:
animals.sort() # Default is reverse=False
animals

['1337', '1337.42', 'Baboon', 'Fish', 'Goat']

In [115]:
letters = ['a','c','b']
letters.sort()
letters

['a', 'b', 'c']

In [116]:
letters.sort(reverse=True)
letters

['c', 'b', 'a']

In [117]:
nums = [1,2,4,6]
nums.sort()
nums

[1, 2, 4, 6]

In [119]:
nums.sort(reverse=True)
nums

[6, 4, 2, 1]

# Sets
A `set` is like a list and like a tuple that it is a sequential type.  It is one of two common Python datatypes that don't guarantee order.  The means that sequential order of anything defined in a `set` could in fact be different than how it was defined.

In [124]:
grades = set(["Poor", "Medium", "Normal", "Great", "Excellent","Normal","Great"])
grades

{'Excellent', 'Great', 'Medium', 'Normal', 'Poor'}

In [125]:
pokemon = set(["Pikachu", "Charizard", "Bulbasaur", "Pikachu", "Mike", "Mike", "Charizard"]) # Notice the input of 7 elements into our `set()`
pokemon

{'Bulbasaur', 'Charizard', 'Mike', 'Pikachu'}

## What can a `set` do that other sequential types can't?
Set opertations are powerful tools that enable us to select and exclude data through dissimilarity and commonality.  It's also easy to convert a `list` or a `tuple` to a `set`.

- All elements in a `set` are unique.
- All elements in a `set` are unordered.

In [128]:
animals = set(["Bat", "Cat", "Rat"])
flying  = set(["Bat", "Seagull", "Eagle"])
running = set(["Cat", "Rat", "Dog"])

### Animals that fly: $animals \cap flying$
Intersection only returns what's common between each set.

In [129]:
animals.intersection(flying)

{'Bat'}

### Flying and Animals: $animals\cup flying$
Union returns all unique items between sets.

In [130]:
flying.union(animals)

{'Bat', 'Cat', 'Eagle', 'Rat', 'Seagull'}

### Difference of Animals and Flying: $animals\setminus Flying$
Show only non-matching items (the opposite of intersection).

In [132]:
different_animals = animals.difference(flying)
different_animals

{'Cat', 'Rat'}

### All Animals: $all = animals\cup flying\cup running$

In [133]:
all_animals = animals.union(
    flying.union(running)
)
all_animals

{'Bat', 'Cat', 'Dog', 'Eagle', 'Rat', 'Seagull'}

# Dictionaries are very useful objects

One of the most common types, and sometimes most misunderstood is the Python dictionary.

- Referenced by key
- Unique key space (like a set)
- Order isn't guaranteed (like a set)
- Keys can be any type
- Values can be any type
- Can be nested (dictionary of dictionaries)

In [134]:
pokedex = {
    "pikachu": {
        "speed": 15,
        "power": 150
    },
    "charizard": {
        "speed": 15,
        "power": 150,
        "cellphone": {
            "motorola": {
                "phone": [8001234567, 8001234568, 8001234569]
            }
        }
    },
    "bulbasaur": {
        "speed": 15,
        "power": 150
    },
}

#### how to index into a dictionary.

In [135]:
pokedex['pikachu']

{'speed': 15, 'power': 150}

In [137]:
# Indexing into multiple levels of a dictionary
pokedex['charizard']['cellphone']['motorola']['phone'][0]

8001234567

In [138]:
pokedex['charizard']['cellphone']['motorola']['phone'][2]

8001234569

In [140]:
characters = {
    "Harry Porter": 'Boy Wizzard',
    "Hermenia Grangy": 'Girl Wizzard',
    "Ton Weasly": 'Boy Wizzard'
}

characters

{'Harry Porter': 'Boy Wizzard',
 'Hermenia Grangy': 'Girl Wizzard',
 'Ton Weasly': 'Boy Wizzard'}

In [144]:
characters['Harry Porter']

'Boy Wizzard'

In [263]:
a = {'one': 1, 'two': 'to', 'three': 3.0, 'four': [4,4.0]}
print(a)

{'one': 1, 'two': 'to', 'three': 3.0, 'four': [4, 4.0]}

In [264]:
a['one'] = 1.0 
print(a)

{'one': 1.0, 'two': 'to', 'three': 3.0, 'four': [4, 4.0]}

### Deleting an entry in a dictionary

In [265]:
del a['one'] 
print(a)

{'two': 'to', 'three': 3.0, 'four': [4, 4.0]}

### Selecting items that don't exist
A common issue that encounter with dictionaries is selecting items that don't exist.  Various solutions are available, but the most straight forward way is to check to make sure the key exists before selecting the element, or just use the `.get()` method that is available to every dictionary object, allowing you to select an item but return a default value if the key doesn't exist.

> You can use what's called a "DefaultDict" to handle this problem as well but it must be imported from `collections`.

In [145]:
# There is no "geodude" in our dictionary.
pokedex.get("geodude")

In [147]:
# The get method accepts arguments. 
# The key and the value to display if no key exists
pokedex.get("DJ PORTER", "No charizard in dictionary")

'No charizard in dictionary'

### We can add or update an element to a dictionary by referencing the key within brackets `[key name]`

In [148]:
pokedex["pikach"] = {"speed": 10, "power": 200}
pokedex

{'pikachu': {'speed': 15, 'power': 150},
 'charizard': {'speed': 15,
  'power': 150,
  'cellphone': {'motorola': {'phone': [8001234567, 8001234568, 8001234569]}}},
 'bulbasaur': {'speed': 15, 'power': 150},
 'pikach': {'speed': 10, 'power': 200}}

### We can update multiple elements in a dictionary with an `.update()`
Notice "geodude" is updated, but we've also added an element by key that didn't exist yet.  `update()` will update elements with matching keys, but add new elements by key when input don't match existing keys.

In [149]:
pokedex

{'pikachu': {'speed': 15, 'power': 150},
 'charizard': {'speed': 15,
  'power': 150,
  'cellphone': {'motorola': {'phone': [8001234567, 8001234568, 8001234569]}}},
 'bulbasaur': {'speed': 15, 'power': 150},
 'pikach': {'speed': 10, 'power': 200}}

In [150]:
pokedex.update({
    "geodude": {
        "speed": 15,
        "power": 205,
    },
    "jiggly puff": {
        "speed": 25,
        "power": 100
    }
})
pokedex

{'pikachu': {'speed': 15, 'power': 150},
 'charizard': {'speed': 15,
  'power': 150,
  'cellphone': {'motorola': {'phone': [8001234567, 8001234568, 8001234569]}}},
 'bulbasaur': {'speed': 15, 'power': 150},
 'pikach': {'speed': 10, 'power': 200},
 'geodude': {'speed': 15, 'power': 205},
 'jiggly puff': {'speed': 25, 'power': 100}}

### .keys() and .values() methods on a dictionary

In [152]:
# The keys method displays all the keys in the pokedex dictionary
pokedex.keys()

dict_keys(['pikachu', 'charizard', 'bulbasaur', 'pikach', 'geodude', 'jiggly puff'])

In [153]:
# If we only want the values
pokedex.values()

dict_values([{'speed': 15, 'power': 150}, {'speed': 15, 'power': 150, 'cellphone': {'motorola': {'phone': [8001234567, 8001234568, 8001234569]}}}, {'speed': 15, 'power': 150}, {'speed': 10, 'power': 200}, {'speed': 15, 'power': 205}, {'speed': 25, 'power': 100}])

#### Multiple variable assignement 
 Python can assign multiple variables from sequential objects.
Lets start with this `tuple`.

A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets

In [154]:
person, animal = ("Chuck", "Dog")
print("Person: ", person)
print("Animal: ", animal)

Person:  Gus
Animal:  Baboon

This works with `list` objects too.

In [157]:
person, animal = ["Gus", "Eagle"]
print("Person: ", person)
print("Animal: ", animal)

Person:  Gus
Animal:  Eagle

We can "unpack" as many objects contained in a sequential object as long as we have an equal number of variables to place them in.  Not just 2!

In [158]:
animal, mineral, person, movie = ("Hawk", "Iron", "Chucky", "Home Alone")

print("Animal:", animal)
print("Mineral: ", mineral)
print("Person: ", person)
print("Movie: ", movie)

Animal: Hawk
Mineral:  Iron
Person:  Chucky
Movie:  Home Alone

In [159]:
# IN effect, [some dictionary].items()
pokedex_list = [
    ('pikachu', {'speed': 15, 'power': 150}), 
    ('charizard', {'speed': 15, 'power': 150, 'cellphone': {'motorola': {'phone': [8001234567, 8001234568, 8001234569]}}}), 
    ('bulbasaur', {'speed': 15, 'power': 150}), 
    ('geodude', {'speed': 15, 'power': 205}), 
    ('jiggly puff', {'speed': 25, 'power': 100})
]

In [193]:
pokemon, stats = pokedex_list[0]

In [194]:
pokemon

'pikachu'

In [196]:
stats

{'speed': 15, 'power': 150}

In [197]:
pokedex.items()

dict_items([('pikachu', {'speed': 15, 'power': 150}), ('charizard', {'speed': 15, 'power': 150, 'cellphone': {'motorola': {'phone': [8001234567, 8001234568, 8001234569]}}}), ('bulbasaur', {'speed': 15, 'power': 150}), ('pikach', {'speed': 10, 'power': 200}), ('geodude', {'speed': 15, 'power': 205}), ('jiggly puff', {'speed': 25, 'power': 100})])

In the above example, the variables `pokemon` and `stats` are unpacked for each key and value for the `pokedex` dictionary, in interation.

### Iterating over dictionaries

The dictionary method `.items()` provides a convenient way to unpack each item in your dictionary to coresponding variables for "key" and "value", in iteration.

In [198]:
pokedex

{'pikachu': {'speed': 15, 'power': 150},
 'charizard': {'speed': 15,
  'power': 150,
  'cellphone': {'motorola': {'phone': [8001234567, 8001234568, 8001234569]}}},
 'bulbasaur': {'speed': 15, 'power': 150},
 'pikach': {'speed': 10, 'power': 200},
 'geodude': {'speed': 15, 'power': 205},
 'jiggly puff': {'speed': 25, 'power': 100}}

In [199]:
sample = {
    "key 1": "value 1",
    "key 2": "value 2",
    "key 3": "value 3",
}

In [200]:
simple.items()

dict_items([('key 1', 'value 1'), ('key 2', 'value 2'), ('key 3', 'value 3')])

In [201]:
## The above is the same as this structure:

simple_items = [
    ('key 1', 'value 1'), 
    ('key 2', 'value 2'), 
    ('key 3', 'value 3')
]

In [202]:
for key, val in sample.items():
    print(key)
    print(val)

key 1
value 1
key 2
value 2
key 3
value 3

In [203]:
for pokemon, stats in pokedex.items():
    print("Pokemon:", pokemon)
    print("Stats:", stats)

Pokemon: pikachu
Stats: {'speed': 15, 'power': 150}
Pokemon: charizard
Stats: {'speed': 15, 'power': 150, 'cellphone': {'motorola': {'phone': [8001234567, 8001234568, 8001234569]}}}
Pokemon: bulbasaur
Stats: {'speed': 15, 'power': 150}
Pokemon: pikach
Stats: {'speed': 10, 'power': 200}
Pokemon: geodude
Stats: {'speed': 15, 'power': 205}
Pokemon: jiggly puff
Stats: {'speed': 25, 'power': 100}

#### Iterating, enumeration, and functional approaches looping 

the .enumerate() method adds a counter to an iterable. It allows you to assign an index to each item in the collection you are looping over.

In [204]:
test_list = [2,3,4,86,45,22]

In [219]:
# This bit of code returns the index of each value in our list
list(range(len(test_list)))

[0, 1, 2, 3, 4, 5]

In [206]:
for index in range(len(test_list)):
    print(index, test_list[index])

0 2
1 3
2 4
3 86
4 45
5 22

In [207]:
for index, number in enumerate(test_list):
    print("index:", index, "number", number)
    test_list[index] = test_list[index] * 10

index: 0 number 2
index: 1 number 3
index: 2 number 4
index: 3 number 86
index: 4 number 45
index: 5 number 22

In [208]:
test_list

[20, 30, 40, 860, 450, 220]

In [210]:
#this functional approach returns a list of tuples
list(enumerate(test_list))

[(0, 20), (1, 30), (2, 40), (3, 860), (4, 450), (5, 220)]

In [212]:
# pokemon assigned "charizard" and "stats" is assigned to the 2nd item in the sequence which is a dictionary of stats. 
cars, stats = ("Tesla", {"horsepower": 150, "speed": 150} )

print(cars)
print(stats)

Tesla
{'horsepower': 150, 'speed': 150}

In [213]:
stats['horsepower']

150

In [216]:
'''enumerating a list using a functional paradigm
This returns a list of tuples
'''
instruments = ['guitar','bass','trumpet']
list(enumerate(instruments))

[(0, 'guitar'), (1, 'bass'), (2, 'trumpet')]

#### iterating a list using a for loop

In [217]:
# instrument is a throw away variable we declare when we define our for loop
for instrument in instruments:
    print(instrument)

guitar
bass
trumpet

In [218]:
list(range(len(instruments)))

[0, 1, 2]

In [223]:
# One way to enumerate in python
# Not the most "pythonic" way to do it.
# Python provides the enumerate method for this
for index in range(len(instruments)):
    print(index, instruments[index])

0 guitar
1 bass
2 trumpet

In [226]:
# Much cleaner and more pythonic
for index, instrument in enumerate(instruments):
    print(index, instrument)

0 guitar
1 bass
2 trumpet

### Enumeration and lists
What if we have two separate list the we need to create key value pairs out of?
- Python gives is a pretty easy way to do that using the zip() function

In [234]:
pokemans = ["Speakachu", "Chortizord", "Youtoo", "Geraldo",'Jugalo Puff','']
poke_stats    = [
    {"power": 1500,  "speed": 1235},
    {"power": 350,  "speed": 2440},
    {"power": 9000,  "speed": 900},
    {"power": 5004, "speed": 30000},
]

Each item in sequence matches up. `pokemans[0]` cooresponds to `poke_stats[0]`, and `pokemans[1]` to `poke_stats[1]`, etc.

#### We can iterate through each list individually but how might we access each matching item at the same time in one single iteration?

In [235]:
pokemans[0], poke_stats[0]

('Speakachu', {'power': 1500, 'speed': 1235})

In [236]:
pokemans[2], poke_stats[2]

('Youtoo', {'power': 9000, 'speed': 900})

#### zip()

In [237]:
list(zip(pokemans,poke_stats))

[('Speakachu', {'power': 1500, 'speed': 1235}),
 ('Chortizord', {'power': 350, 'speed': 2440}),
 ('Youtoo', {'power': 9000, 'speed': 900}),
 ('Geraldo', {'power': 5004, 'speed': 30000})]

### list comprehensions

- This is a clean way to iterate over data
- best used when the iteration is simple
- for iteration with lots of logic involved it's usually more readable to use a for loop

In [241]:
## For loop version of list comp

# Declare an empty list to hold our values
cubed_nums = []

# Iterate over a list of numbers from 1-10
for num in range(1,10):
    # print the current value
    print('My current value is', num)
    # append the value to our empty list
    cubed_nums.append(num ** 3)

# display the contents of out list after we finish looping
cubed_nums

My current value is 1
My current value is 2
My current value is 3
My current value is 4
My current value is 5
My current value is 6
My current value is 7
My current value is 8
My current value is 9

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [243]:
# A list comprehension of the for loop above
# Declare an a variable called num that will hold our value
# cube that num
# for every num in a range of 1-12 
cubed_nums = [num ** 3 for num in range(1,12)]

cubed_nums

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331]

### Now as a _generator_
Generators are more optimized for the cases when you just need to iterate in one direction, once.  There are a lot of semantics about how they're implemented but actually they are not that hard to use in place of list comprehensions.

**List Comprehension vs Generator**

List comprehension will create the entire list in memory first while the generator expression will create the items on the fly, so you are able to use it for very large (and also infinite!) sequences.  As you clean big data sets in the future on your laptop (or any instance where Python is available), you might remember this fact because it could mean the difference between actually being able to successfully clean or transform a dataset.

In [246]:
# Notice how this time it doesn't return a list of values
# Generators return a generator object
# You need to iterate if you want to see the values
numbers_squared = (num ** 2 for num in range(1, 5))
numbers_squared

In [247]:
# One way to do that functionally
list(numbers_squared)

[1, 4, 9, 16]

#### Some things to keep in mind when using a generator
- You can't access the data in any other manner other than forward
- You can't use eatures such as `len()`, `sort()`, or `reversed()`
- You can't handle exceptions at the time of list creation

- Generators are often used when dealing with very large data sets

In [278]:
# Filter a list with a comprehension
list_nums = [23,2,14,5,1,6]

new_list = [x for x in list_nums if x > 5]

new_list

[23, 14, 6]

### Booleans

We often use booleans usually in control flow logic to check if a a piece of data evaluates to true or false so that our program can decide what to do next

**These values are evaluated to "False"**
- None
- False
- Zero of any numeric type
- Any empty sequence: `'', (), []`

In [258]:
print(True)
print(type(True))
print(type(False))
print(5 == 5)
print(5 == 6)

True
<class 'bool'>
<class 'bool'>
True
False

In [259]:
# since user has a value it evaluates to true

user = 'Tom'

if user:
    # if user: is shorthand for if user == True
    print('{} is currently logged in'.format(user))
else:
    print('User is not currently logged in')

Tom is currently logged in

In [260]:
user = ''
if user:
    print('{} is currently logged in'.format(user))
else:
    print('User is not currently logged in')

User is not currently logged in

### Dictionary Comprehensions

- Just like with list python provides us a way to shorthand the iteration of a dictionary

Dictionary comprehension is a method for transforming one dictionary into another dictionary. During this transformation, items within the original dictionary can be conditionally included in the new dictionary and each item can be transformed as needed.

In [262]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
# Read aloud: key, value time 2 for each key value in dict1.items
double_dict1 = {k:v*2 for (k,v) in dict1.items()}
print(double_dict1)

{'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10}

### Filtering Dictionaries with a comprehension

In [266]:
users = {
    'user1': 'FOO@BAR.COM',
    'user2': 'JOHN@DOE.COM',
    'user3': 'YOURGRANDMOTHER@AOL.COM'
}

{user_id: email.lower() for user_id, email in users.items()}
[email.lower() for _, email in users.items()]
[email.lower() for _, email in users.items()]
[e.lower() for e in users.values()]
{e.lower() for key, e in users.items()}

{'foo@bar.com', 'john@doe.com', 'yourgrandmother@aol.com'}

In [267]:
{user_id:email for user_id,email in users.items() if '@aol.com' in email.lower()}

{'user3': 'YOURGRANDMOTHER@AOL.COM'}